<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>211442828635-av9ep1f78s7tq0hf0bfdmc1ohub05hep.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.211442828635-av9ep1f78s7tq0hf0bfdmc1ohub05hep</string>
	<key>API_KEY</key>
	<string>AIzaSyBePkBNnW0R-mk4MyeQLVkbEeRS51Shveo</string>
	<key>GCM_SENDER_ID</key>
	<string>211442828635</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>LearningFirebase.LearningFirebase</string>
	<key>PROJECT_ID</key>
	<string>firestoremvvm-f8e6f</string>
	<key>STORAGE_BUCKET</key>
	<string>firestoremvvm-f8e6f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:211442828635:ios:ac6f1e286f61861c26c67e</string>
</dict>
</plist>